# Super Admin uchun backend URL (development)
BACKEND_URL=http://localhost:4000

# Production'da Nginx basePath (masalan: /super)
NEXT_PUBLIC_BASE_PATH=

# Public API path (default: /api)
NEXT_PUBLIC_API_URL=/api
